* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main {
    width: 100vw;
    height: 100vh;
}

.socket-listing {
    width: 30%;
    height: 100vh;
    background-color: lightgoldenrodyellow;
    padding: 1rem;
}


html {
    background-color:  #F7F6F1;
    color: #324E8C;
}


.chat-container {
    width: 70%;
    height: 100vh;
}

html {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #324E8C;
}
body {
    background-color: #F7F6F1;
    display: flex;
    height: 100vh;
    margin: 0;
}
.chat {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.chat-body {
    min-height: 90vh;
    width: 90%;
    padding: 0.5rem;
    display: flex;
   flex-direction: column;
   justify-content: flex-end;


}
.chat-conteiner {
    width: 90%;
}



.left-bar {
    width: 30%;
    border-right: #324E8C 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-bar {
    width: 70%;
    display: flex;
    justify-content: center;

}
.logo {
    margin: 50px;
}

.quote {
    flex-grow: ;
    margin: 0 50px;
    font-weight: 300;
    font-size: 21px;
    line-height: 31px;
}

.left-bottom {
    display: flex;
    margin:  50px;
    justify-content: flex-end;
    align-items:center;

}


.left-bottom a {
    text-decoration: none;
    color:#324E8C ;
}


.centerform {
    align-self: center;
    justify-self: center;
    text-align: center;
}
.artist {
    text-align: right;
    margin-top: 20px;
    font-size: 0.85em;

}

.input-box {
    border-radius: 20px;
    border: #324E8C 1px solid;
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
}
.input-label {
    display: block;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.265em;
    text-transform: uppercase;
}

.title {
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    letter-spacing: 0.27em;
    text-transform: uppercase;
}
.button {
    display: flex;
    justify-content: center;
    margin: auto;
    background: #324E8C;
    color: #F7F6F1;
    padding: 20px;
    border: 0;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 0.27em;
}
.read-chat-box {
    border-radius: 0px 20px 20px 20px;
    border: #324E8C 1px solid;
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 40px;
}

.read-own-chat-box {
    border-radius: 20px 20px 0px 20px;
    border: 2px solid;
    background-color: #324E8C;
    color: #F7F6F1;
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 40px;
}

.write-chat-box {
    border-radius: 20px;
    border: #324E8C 1px solid;
    padding: 20px;
    width: 90%;
    height: 20px;
    color: #324E8C;
    font-size: 1.2em;
}

h4 {
    font-weight: 300;
    letter-spacing: 0.265em;
    text-transform: uppercase;

}
/* * NO NEED THIS CSS - just for custom scrollbar which can also be configured in tailwind.config.js*/ */

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #2d3748;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2b6cb0;
}

::-webkit-scrollbar-thumb:active {
    background: #000000;
}

::-webkit-scrollbar-track {
    background: #1a202c;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: #666666;
}

::-webkit-scrollbar-track:active {
    background: #333333;
}

::-webkit-scrollbar-corner {
    background: transparent;
}
