* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main {
    width: 100vw;
    height: 100vh;
}

.socket-listing {
    width: 30%;
    height: 100vh;
    background-color: lightgoldenrodyellow;
    padding: 1rem;
}


html {
    background-color:  #F7F6F1;
    color: #324E8C;
}


.chat-container {
    width: 70%;
    height: 100vh;
}

.chat {
    display: flex;
    flex-direction: row;
}

.chat-body {
    min-height: 20vh;
    border: 1px solid black;
    padding: 0.5rem;
}

.input-box {
    border-radius: 20px;
    border: 2px solid;
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 40px;
}

.read-chat-box {
    border-radius: 0px 20px 20px 20px;
    border: 2px solid;
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 40px;
}

.read-own-chat-box {
    border-radius: 20px 20px 0px 20px;
    border: 2px solid;
    background-color: #324E8C;
    color: #F7F6F1;
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 40px;
}

.write-chat-box {
    border-radius: 20px;
    border: 2px solid;
    padding: 10px;
    margin: 10px;
    width: 500px;
    height: 40px;
}

/* NO NEED THIS CSS - just for custom scrollbar which can also be configured in tailwind.config.js*/

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #2d3748;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2b6cb0;
}

::-webkit-scrollbar-thumb:active {
    background: #000000;
}

::-webkit-scrollbar-track {
    background: #1a202c;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: #666666;
}

::-webkit-scrollbar-track:active {
    background: #333333;
}

::-webkit-scrollbar-corner {
    background: transparent;
}
